<html>
  <body>
    <!-- whole - the whole website(to set background) -->
    <div class="whole">
      <!-- declared for form design (color and size) -->
      <div class="form">
        <!-- distinction from signup form -->
        <div class="forgot-password-form">
          <form>
            <!-- "b" is used to make the text bold -->
            <b class="title">Forgot Password?</b>
            <div class="input-container">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Enter your email"
                [(ngModel)]="email"
              />
              <i class="uil uil-envelope-alt"></i>
            </div>
            <div class="button">
              <button
                (click)="forgotPassword()"
                type="submit"
                class="submit_btn"
              >
                SEND PASSWORD RESET LINK
              </button>
            </div>
            <span class="text">
              Back to

              <a routerLink="/login" class="text login-link">
                login page</a
              ></span
            >
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
