<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <header id="header">
      <a class="logo"><h1>MY DASHBOARD</h1></a>
      <nav>
        <ul class="navigation">
          <li>
            <a href=""
              ><button (click)="register()" type="submit" class="logout-btn">
                Log Out
              </button></a
            >
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <h2>Welcome: <span>abc@gmail.com</span></h2>
    </section>
  </body>
</html>
